{% csrf_token %}
<label for="id_headline">Titre</label>
<p class="mb-4"> {{ review_form.headline }} </p>
<p class="mb-4"> {{ review_form.headline.errors }} </p>

<p class="mb-0">Note</p>
<div class="mb-4">
    <fieldset>
        <legend class="d-none">Selectionner votre note entre 0 et 5 :</legend>
        {% for radio in review_form.rating %}
        <div class="form-check form-check-inline">
            {{ radio.tag }}
            <label for="id_rating_{{radio.choice_label}}">{{ radio.choice_label}}</label>
        </div>
        {% endfor %}
    </fieldset>
</div>
<p class="mb-4"> {{ review_form.rating.errors }} </p>

<label for="id_body">Commentaire</label>
<p class="mb-4"> {{ review_form.body }} </p>
<div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-primary">Envoyer</button>
</div>