{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}
- Posts
{% endblock %}

{% block content %}
{% include 'partials/navbar.html' %}
<div class="container my-4">
    <div class="col-9 mx-auto">
        <h1 class="text-center mb-5">Vos posts</h1>
        {% for post in posts %}
        <article class="container post-display">
            {% if post|model_type == 'Ticket' %}
            {% include 'blog/partials/ticket_snippet.html' with ticket=post %}
            <div class="text-end mt-2">
                <a href="{% url 'update-ticket' post.id %}" class="btn btn-primary">Modifier</a>
                <a href="{% url 'delete-ticket' post.id %}" class="btn btn-danger">Supprimer</a>
            </div>
            {% elif post|model_type == 'Review' %}
            {% include 'blog/partials/review_snippet.html' with review=post %}
            <div class="text-end mt-2">
                <a href="{% url 'update-review' post.id %}" class="btn btn-primary">Modifier</a>
                <a href="{% url 'delete-review' post.id %}" class="btn btn-danger">Supprimer</a>
            </div>
            {% endif %}
        </article>
        {% endfor %}
    </div>
</div>
{% endblock %}