{% extends 'base.html' %}

{% block title %}
- Review
{% endblock %}

{% block content %}
{% include 'partials/navbar.html' %}
<section class="container my-4">
    <div class="col-12 col-lg-9 mx-auto">
        <h1 class="h3 text-center mb-4">Création d'une critique</h1>
        <form method="post" enctype="multipart/form-data">
            <h4 class="h4 mb-3">Livre / Article :</h4>
            <div class="container post-display">
                {% include 'blog/partials/ticket_form_snippet.html' with ticket_form=ticket_form submit_button=False %}
            </div>
            <h4 class="h4 mb-3">Votre critique :</h4>
            <div class="container post-display">
                {% include 'blog/partials/review_form_snippet.html' with review_form=review_form %}
            </div>
        </form>
    </div>
</section>
{% endblock %}