{% extends 'base.html' %}


{% block content %}
{% include 'partial/navbar.html' %}
<section class="container my-4">
    <div class="text-center mb-4">
        {% if mode == "creation" %}
        <h1 class="h3">Création de ticket</h1>
        {% elif mode == "update" %}
        <h1 class="h3">Modification de ticket</h1>
        {% endif %}
    </div>
    <div class="col-12 col-lg-9 mx-auto post-display">
        {% include 'blog/partials/ticket_form_snippet.html' with ticket_form=ticket_form %}
    </div>
</section>
{% endblock %}